[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "spBFA"]
	path = spBFA
	url = https://github.com/berchuck/spbfa
[submodule "spCP"]
	path = spCP
	url = https://github.com/berchuck/spcp
[submodule "womblR"]
	path = womblR
	url = https://github.com/berchuck/womblr
